.main-comment{
    border: 2px solid green;
    margin-left:250px ;
    margin-bottom:40px ;
    margin-top: 20px;
    height: 120px;
    width: 60%;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 5px darkcyan;
}